<div class="col-md-12">
<h1>ROCKET CLERK</h1>
</div>
    <div class="col-md-12">
      <div class="mission-statement">
      Rocket Clerk is, like, some, new software that I had to make for Project 2 and it would be something to replace all the other ones out there that they use in the big law firms,
      which I am a fan of, I have a lot of friends in really, really big law firms, by the way, is because it's a <em>big fat mess</em>.
    We’re bringing modern technology back to the law firms.  Okay?  And I understand what you’re saying and I get that from many people.
    The legal software, and I know a lot about it, is in trouble.  Personally, I can't blame you for wanting to use something like this that I,
    by the way I have all the experts working on this already, because everything out there, I've been saying this for a long time,
    is a <em>big fat mess</em>.  I know all the best pages, I have the best pages.  Believe me, when I, and I say this is going to be <em>Youuuuuuuge</em>.
      I don’t know, that’s what they tell me, and I know a really, really, lot of people who say the same thing — its stupid out there,
      the software is stupid.  I know this because I know words like nobody.  It’s nothing but a <em>big, fat mess</em>.
        Stand up.  Stand up.  How about that man with that big beautiful blue hat.  What a hat!

      <div>
  </div>
</div>
</div>
</div>

