<div class="col-md-12">
<h1>ROCKET CLERK</h1>
</div>
    <div class="col-md-12">
      <div class="mission-statement">
      My app, named Rocket Clerk, is Project #2 of 4 assigned to students in General Assembly's Web Development Immersive (WDI) course.
      As a former Assistant Managing Clerk at a high-profile law firm in Manhattan, one of my dedicated roles was that of a traditional Docket Clerk, who on a daily basis
      has to process any incoming filings that were filed on a court's docket.  This is a straightforward and sometimes mundane actions; however, it is a very important procedure as it
      allows a firm's practice to maintain an accurate and up-to-date internal record of active litigation matters that can sometimes have up to thousands of filings over the course of a few years,
      and also to maintain a calendar that is distributed once a week showing who is to appear in court, for which matters, and a brief description of why.  In short: it's good housekeeping.
      This app is a sleek and lightweight version of a lot of the vendor software that law firm's currently use.  Vendor software is accurate but cumbersome, expensive, and their user faces are antiquated
      in comparison to cloud-based web app technology out there.

      If you're not into dockets, then it can also be called an entry log application tool for any record or note keeping processes.  Otherwise, it is still being developed and to be presented on Friday, June 17th as part of our Project 2 Class Presentations.

      Enjoy!



      <div>
  </div>
</div>
</div>
</div>

