<div class="row">
  <div class="col-md-4"><%= link_to 'Sign Up', new_user_path %>
</div>
  <div class="col-md-4">Docket quicker, faster than anyone else</div>
  <div class="col-md-4"><%= link_to 'Log In', new_session_path %>
</div>
</div>


