/*
 *= require_self
 *= require index
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

// body  {
//   font-family: sans-serif;
// }

html {
  position: relative;
  min-height: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

a.pumice {
  color: white !important;
}

a {border:none; text-decoration:none; color: white}
a:active {border:none; text-decoration:none; color: white}
a:hover {border:none; text-decoration:none; color: white}
a:visited {border:none; text-decoration:none; color: white}
a:linked {border:none; text-decoration:none; color: white}

.tagline {
  background-color: solid orange;
  border: 1px solid;
  max-width: 400px;
  margin: 0 auto;
}

.navbar {
  background-color: #333333;
  color: #FFFFFF;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: sans-serif;
  background: #FFFFFF;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.panel-title {
  margin-bottom: 5px;
}

th {
  text-align: center;
}

.panel-heading p {
  margin-bottom: 0px;
}

td {
  text-align: left
}
