body{
  text-align: center;
}

.mission-statement {
  background-color: solid white;
  max-width: 500px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}
