<!DOCTYPE html>
<html>
<head>
  <title>Rocket Clerk</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar1">About</div>
  <div class="navbar2">Contact</div>
  <div class="navbar3">Social Media Icons</div>
</div>
<h1>ROCKET CLERK</h1>
<div class="tagline">
  <span>Modern</span>
  <span>Fluid</span>
  <span>Simple</span>
</div>
<main>
<%= yield %>
</main>
</body>
</html>
